* {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboard {
    display: flex;
    border: 5px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    margin: 0 80px;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px black solid;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin: 30px;
}
.mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#playerChoice, #computerChoice {
    width: 150px;
    height: 150px;
    position: relative;
}

.choice {
    position: absolute;
    transform: translate(-50%, -50%);
    transform: scale(0.3);
    top: 90%;
    opacity: 0;
    transition: 500ms;
}

.choice.moveCenter {
    opacity: 1;
    transform: scale(1);
    top: 30%;
    transition: 1s ease
}

.choice.grow {
    transform: scale(1.3);
    filter: drop-shadow(0 0 20px #5f5f5f);
}

.choice.moveTop {
    transform: scale(0);
    top: 10%;
    opacity: 0;
}

.player {
    left: 20%;
}

.computer {
    right: 20%;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    padding: 10px;
    transition: 0.3s;
}

.button img {
    margin-top: 30px;
}

.button p {
    margin-bottom: 30px;
}

.button:hover {
    box-shadow: 10px 5px 5px #5f5f5f;
    transform: scale(1.05);
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px;
}

h3 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

button {
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

button:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5f5f5f;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.overlay.active {
    display: block;
    opacity: 0.5;
    z-index: 1;
}

.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    background: #5f5f5f;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    transform: scale(0);
    transition: 50ms;
    z-index: -1;
    opacity: 0;
}

.modal.active {
    transform: scale(1);
    transition: scale 300ms ease, opacity 300ms ease;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
}

